<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackred.mapper.OrderMapper">

    <select id="findHotSetmeal" resultType="int">
        select  o.setmeal_id from t_order o group by o.setmeal_id order by count(*) desc limit 0,2
    </select>
</mapper>
